/*公用头部和底部的公共样式*/
/*顶部快捷导航*/
.fl {
	float: left;
}
.fr {
	float: right;
}
/*版心*/
.w {
	width: 1200px;
	margin: 0 auto;
}
.style-red {
	color: #c81623;
}
.shotcut {
	height: 31px;
	width: 100%;
	line-height: 31px;
	background-color: #f1f1f1;
	
}
/*快捷导航li之间的竖线*/
.shotcut li.spacer {
	width: 1px;
	height: 12px;
	background-color: #666;
	margin: 9px 15px 0;
}
.shotcut .iconfont {
	font-size: 10px;
	cursor: pointer;
	color: #6e6e6e;
	padding-left: 6px;
}
/*header区域*/
.header {
	position: relative;
	height: 106px;
}
.header>.logo {
	position: absolute;
	top: 25px;
	left: 3px;
}
.header>.logo a {
	display: block;
	width: 175px;
	height: 57px;
	font-size: 0;
	background-image: url(../img/logo.png);
}
.search {
	position: absolute;
	left: 347px;
	top: 26px;
}
/*搜索框*/
.search>.text {
	width: 444px;
	height: 32px;
	border: 2px solid #b1191a;
	padding-left: 10px;
}
/*搜索按钮*/
.search>.btn {
	width: 82px;
	height:36px;
	color: #fff;
	background-color: #b1191a;
	border: 0;
}
.hotWords {
	position: absolute;
	left: 347px;
	top: 70px;
}
.hotWords>a{
	padding: 0 12px;
}
.shopCar {
	position: absolute;
	top: 26px;
	right: 64px;
	width: 138px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	background-color: #f7f7f7;
	border: 1px solid #dfdfdf;
}
.shopCar .car {
	font-size: 18px;
	color: #da5555;
}
.shopCar .rightArrow {
	font-size: 12px;
	padding-left: 6px;
	color: #a4a4a4;
	cursor: pointer;
}
.shopCar .count {
	position: absolute;
	left: 100px;
	top: -5px;
	height: 14px;
	line-height: 14px;
	padding: 0 3px;
	background-color: #e60012;
	color: #fff;
	border-radius: 7px 7px 7px 0;
}